
.input{
    height: 50px;
    width: calc(100% - 10px);
    border-radius: 20px;
    padding: 15px;
}

@media (max-height: 732px ){

    #left {
        top: 85px;
        height: 88vh;
        overflow-y: scroll;
        overflow-x: hidden;
    }
}
@media (max-width: 640px){

    #container{ 
        display: block;
        flex-wrap: wrap;
        position: relative; 
        margin: auto;
        width: 90%;
        padding-left: 15px;
        padding-right: 10px;
    }

    #left{ 
       display: none;
    }
    #middle{
        padding: 10px;
        margin-top: 5px;;
    }
    
    #right{
        padding-left: 18px;
    }
    
}

@media (min-width: 641px) and (max-width: 970px){

    #container{
        display: flex;
        flex-flow: row wrap;
        position: relative;  
        margin: auto;
        width: 90%;
        padding: 25px;
        padding-right: 0px;
    }

    #left{
        width: 30%;
        position: -webkit-sticky;
        position: sticky;
        top: 10vh;
        align-self: start;
        padding-right: 20px;
        padding-bottom: 20px;
        text-align: left;

    }
    
    #middle{
        padding-top: 20px;
        margin: 0 auto;
        width: calc(100% - 30%);
        border-left: 1px solid whitesmoke;
        padding-left: 20px;
        
    }
    #right{
        
        width: 100%;
        padding: 70px;
        padding-left: 20px;
        margin-left: 30%;
        border-left: 1px solid whitesmoke;
    }
    
    .input-container{
        padding: 8px;
    }
    
    .question-list{
        margin-left: 2px;
    }
    
    .question-list > li {
        padding: 7px;
    }
}

@media (min-width:971px){
    #container{
        display: flex;
        flex-direction: row;
        margin: auto;
        width: 90%;
        padding-left: 20px;
        padding-right: 10px;
    }
    
    #left{
        width: 22%; 
        position: -webkit-sticky;
        position: sticky;
        top: 10vh;
        align-self: flex-start;
        padding-right: 40px;
        padding-bottom: 20px;
        text-align: left;
    }
    
    #middle{
        width: 60%; 
        margin: 0 auto; 
        border-left: 1px solid whitesmoke;
        border-right: 1px solid whitesmoke;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
    }
    
    #right{
        width: 20%; 
        height:auto;
        text-align: right;
        padding: 20px;    
    }
    
    
    .input-container{
        padding: 30px;
        text-align: center;
    }
    
    .question-list{
        margin-left: 25px;
        font-size: 20px;
    }


    #curves div {
        width: 20px;
        height: 15px;
        border-left: 3px solid #999;
      }
      #curves.width div {
        border-color: transparent transparent transparent #999;
      }
      #curve1 {
        -moz-border-radius: 50px 0 0 50px;
        border-radius: 50px 0 0 50px;
      }
    
}