.container-large {
    /* background-color: rgb(42, 34, 63); */
    height: auto;
    width: 100%;
    padding: 10px;
}

.container-L-image {
    height: auto;
    width: 100%;
    padding: 10px;
}

.flex-container {
    /* height: 100px; */
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.flex-child {
    width: 307px;
    color: aliceblue;
    text-align: center;
    padding: 10px;
    margin: 10px;
    border: 5px solid wheat;
}

 .flex-child:hover {
    /* background-color: blue; */
    border: none;
}

.Static-container{
    /* background: #41464b; */
    /* height: 40%; */
    display: flex;
    /* height: 370px; */
    flex-direction: row;
    justify-content: center;
}

.image{

    width: 330px;
    padding: 10px;
    padding: 10px;
    color:whitesmoke;
}

.image > img{

    height: 350px;
    width: 100%;
}

.context{
    margin: auto;
    width: 50%;
    padding:  60px;
    font-size: 30px;
}

@media (max-width: 762px) {

    .container-large {
        background-color: rgb(42, 34, 63);
        height: 400px;
        padding: 10px;
    }

    .container-L-image {
        /* background-color: rgb(42, 34, 63); */
        height: 1500px;
        padding: 10px;
    }


    .flex-container {
        margin-top: 30px;
        height: 100px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .Static-container{
        margin-top: 30px;
        /* width: 100%; */
        height: 267px;
        /* flex-direction: column; */
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }



    .flex-child {
        min-width: 100%;
        color: aliceblue;
        text-align: center;
        padding: 13px;
        margin: 10px;
        border: 5px solid wheat;
    }


    .image{
        word-wrap: break-word;
        min-width: 100%;
        text-align: center;
        padding: 1px;
        margin: 2px;
        /* margin-left: 8px; */
        /* border: 5px solid #0a0d0f; */
    }



    .flex-child:hover {
        background-color: blue;
        border: none;
    }

    .contex{

        margin: auto;
        min-width: 100%;
        text-indent: 40px;
        padding:  60px;
        font-size: 20px;
        margin-bottom: 500px;
    }

}

