.container-large {
    /* background-color: rgb(42, 34, 63); */
    height: auto;
    margin: auto;
    width: 90%;
    margin-top: 3px;
    padding: 10px;
}

.container-L-image {
    height: auto;
    width: 100%;
    padding: 10px;
    margin-top: 70px;
}


.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
}

.flex-child {
    width: 307px;
    color: var(--default-text-color);
    text-align: center;
    padding: 10px;
    margin: 10px;
    border: 5px solid wheat;
    background-color: inherit;
    -webkit-transition-duration: 0.5s; /* Safari */
    transition-duration: 0.5s;
}

 .flex-child:hover {
    transform: rotate(0deg);
    border: none;
}

.Static-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    margin: auto;
    width: 90%;
}

.image{

    width: 25%;
    color:whitesmoke;
    
}

.image > img{

    height: 400px;
    width: 100%;
    padding: 0px;
    border-radius: 30% 70% 50% 30% / 30% 30% 70% 50% ;
    object-fit: cover;

}

.context{
    margin: auto;
    width: 50%;
    padding:  60px;
    font-size: 30px;
}

.b_g_Info{
    background-color: var(--Everything-Background-Color);
    color: var(--default-text-color);
    padding-bottom: 20px;
    
}

.Benefit_bg{
    margin-top: 70px;
    background-color: var(--Bg-Benefit-Color);
    color: var(--default-text-color);
    padding-bottom: 20px;
}
.Mission_bg{
    background-color: var(--Mission-Background-Color);
    color: var(--default-text-color);
    padding-bottom: 70px;
}
.Learn_bg{
    background-color: var(--Learn-Background-Color);
    color: var(--default-text-color);
    padding-bottom: 70px;
}
@media (max-width: 762px) {

    .container-L-image {
        height: auto;
        width: 100%;
        padding: 10px;
        margin-top: 800px;
        margin-bottom: 800px;
    }


    .flex-container {
        height: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .Static-container{
        margin-top: 30px;
        height: 267px;
        display: flex;
        flex-direction: column;
    }



    .flex-child {
        min-width: 100%;
        color: aliceblue;
        text-align: center;
        padding: 13px;
        margin: 10px;
        border: 5px solid wheat;
    }


    .image{
        word-wrap: break-word;
        min-width: 100%;
        text-align: center;
        padding: 1px;
        margin: 2px;
    }



    .flex-child:hover {
        background-color: blue;
        border: none;
    }

    .contex{

        margin: auto;
        min-width: 100%;
        text-indent: 40px;
        padding:  60px;
        font-size: 20px;
        margin-bottom: 500px;
    }

}

