
.glassesBackground{
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: #ffffff10;
  box-shadow: inset 20px 20px 60px #ffffff10,
              inset -20px -20px 60px #ffffff10;

  border-radius: 50px;
  animation: spin 10s linear forwards infinite alternate;
}

@keyframes spin{
	0% { 	transform: rotate(0deg) translateX(90vw); }

  30%{  transform: rotate(40deg) translateX(90vw);}

  40% {
    transform: rotate(90deg) translateX(60vw);
  }
  50% {
    transform: rotate(70deg) translateX(10vw);
  }
  60% {
    transform: rotate(0deg) translateX(95vw)
  }
  75% {
    transform: rotate(40deg) translateX(50vw)
  }
  85% {
    transform: rotate(10deg) translateX(0vw)
  }
	100%   {  transform: rotate(90deg) translateX(100vh); }
}


.contin{
  height:50vh;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.contin > .weTheOne{
  flex: 50%;
  height: 48vh;
}
.contin > .Connecting{
  flex:50%;
  height: 48vh;
}

.contin > div > img{
  padding-top: 20px;
  padding-left: 20px;
  height: 100%;
  width: calc(100% - 20px);
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70% ;
  background: #e0e0e0;
  box-shadow:  20px 20px 60px #bebebe,
              -20px -20px 60px #ffffff;
  object-fit: cover;
}

.whatWeDo{
  position: relative;
  margin: auto;
  width: 90%;
  margin-top: 70px;
  text-align: center;
  border: 1px solid whitesmoke;
  padding: 30px;  
  resize: both;
  overflow: auto;
}

.WhatWeDoInfoHeader{
  font-weight: bold;
  color: black;
  text-decoration:solid;
  color: whitesmoke;
  padding: 20px;
  margin-bottom: 50px;
}
.WhatWeDoInfo{
  color: black;
  font-size: 22px !important;
  text-align: left;
  color: whitesmoke;
}

@media(min-width:767px){
  .ToWhom{
    height: 50vh;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 90%;
    text-align: center;
    margin-top: 100px;
  }

  .ToWhom > .weTheOne{
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    height: 48vh;
    line-height: 48vh;
    text-align: center;
    border-bottom-right-radius: 590px 100px;
    border-top-right-radius: 590px 100px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    background-image: linear-gradient(rgb(185, 163, 163) 5%, rgb(62, 80, 62) 59%, rgb(127, 127, 204) 155%);
    text-align: left;
    padding: 10px;
    
  }
  
  .Info{
    font-size: calc(0.6vw - 0.7vh + 2vmin);
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    word-break: break-word;
  
  }
  
  .ToWhom > .Connecting{
    height: 48vh;
    -webkit-flex: 2;
    -ms-flex: 2;
    flex: 2;
    background-image: linear-gradient(rgb(185, 163, 163) 10%, rgb(62, 80, 62) 56%, rgb(151, 151, 240) 170%);
    border-bottom-right-radius: 590px 100px;
    border-top-right-radius: 590px 100px;
    border-bottom-left-radius: 590px 100px;
    border-top-left-radius: 590px 100px;
    line-height: 48vh;
    text-align: center;
    text-align: left;
    padding: 10px;
  }
  
  .testss{
    height: 100%;
    width: calc(100% - 20px);
    border-radius: 3% 90%;
    object-fit: cover;
  }
  
  
  .ToWhom > .Third{
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    height: 48vh;
    line-height: 48vh;
    text-align: center;
    border-bottom-left-radius: 590px 100px;
    border-top-left-radius: 590px 100px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    background-image: linear-gradient(rgb(185, 163, 163) 5%, rgb(62, 80, 62) 59%, rgb(133, 133, 204) 150%);
    word-wrap: break-word;
    text-align: left;
    padding: 10px;
    
  }
  
  .testing{
    margin: auto;
    width: 90%;
    margin-top: 50px;
    height: auto;
    padding-top: 10px;
    padding-bottom: 80px;
}

  .CardContainer{
    display: flex;
    margin: auto;
    width: 100%;
    height: 52vh;
    gap:20px;
    margin-top: 60px;
  }
  .card {
    border-radius: 50px;
    background: #e0e0e0;
    box-shadow: inset 20px 20px 60px #bebebe,
                inset -20px -20px 60px #ffffff;
    transition: 0.3s;
    width: 100%;
    height: 50vh;
    color: black;
    padding: 20px;
    backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  }
  
  .card > .PersonImage{
    height: 25vh;
    object-fit:fill;
    border-radius: 28% 72% 21% 79% / 68% 18% 82% 32%  ;

  }
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .container {
    padding: 2px 16px;
  }
  
}



@media(max-width: 767px){

  .ToWhom{
    height:auto;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    gap:20px;
    padding: 20px;
    margin: auto;
    width: 95%;
    text-align: center;
    margin-top: 30px;
  }

  .ToWhom > .weTheOne{

    height: 30vh;
    line-height: 30vh;
    text-align: center;
    background-image: linear-gradient(rgb(185, 163, 163) 10%, rgb(62, 80, 62) 56%, rgb(151, 151, 240) 170%);
    border-radius: 8px;
    
  }
  
  .Info{
    
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    word-wrap: break-word;
    text-align: left;
    font-size: 22px;
    padding: 10px;
  
  }
  
  
  .ToWhom>.Connecting {
    height: 30vh;
    line-height: 30vh;
    -webkit-flex: 2;
    -ms-flex: 2;
    flex: 2;
    background-image: linear-gradient(rgb(185, 163, 163) 10%, rgb(62, 80, 62) 56%, rgb(151, 151, 240) 170%);
    word-wrap: break-word;
    border-radius: 8px;
  }
  
  .testss{
    height: 100%;
    width: calc(100% - 20px);
    border-radius: 3% 90%;
    object-fit: cover;
  }
  
  
  .ToWhom > .Third{
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    height: 30vh;
    line-height: 30vh;
    text-align: center;
    background-image: linear-gradient(rgb(185, 163, 163) 5%, rgb(62, 80, 62) 59%, rgb(133, 133, 204) 150%);
    word-wrap: break-word;
    border-radius: 8px;
  }




  .CardContainer{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 95%;
    height: auto;
    padding: 20px;
    margin-top: 50px;
    gap:20px;
  }
  .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 100%;
    height: 50vh;
    color: black;
    padding: 20px;
  }
  
  .card > .PersonImage{
    height: 25vh;
    object-fit:fill;
    border-radius: 5px;;
  }
}