.related_links {
    display: block;
    text-decoration: none;
    color: inherit;
}

@media (max-width: 640px){
    .related_links {
        margin-left: -9px;
    }
}
@media (min-width: 641px) and (max-width: 970px){

}

@media (min-width:1887px){
    .related_links {
        font-size: var(--default-font-size);
    }
}
@media (hover:hover)
{
    .related_links:hover {
        text-decoration: underline;
        text-decoration-color: rgb(8, 180, 172);
    }
}