.size{
    position: -webkit-sticky;
    position: sticky;
    padding: relative;
    top: 0;
    z-index: 100; /* giving higher number to make sure it stays on top */
    /* background-color: #ffffff10;
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px); */
    background-color: var(--background-color)
}
.bg{
    opacity: 0.9;
    font-size: 21px;
    font-weight: bold;
    min-height: 10vh;
    margin: auto;
    width: 90%;
    left: 100px;
    padding: 25px;
   
    
}
.change-color{
    color: var(--default-text-color);
}
.login{

    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    opacity: 0.9;
    font-size: 21px;
    font-weight: bold;
    color: inherit;
}

