@media (max-width: 472px){
    .size {
        position: -webkit-sticky;
        position: sticky;
        padding: relative;
        top: 0;
        z-index: 5;
        /* giving higher number to make sure it stays on top */

        background-color: var(--background-color);
        display: flex;
        gap: 20px;
    }

    #leftt {
        display: show;
        opacity: 0.9;
        font-weight: bold;
        min-height: 10vh;
        padding-left: 10px;
        position: fixed;
        margin-left: 40px;
    }

    #bg {
        opacity: 0.9;
        font-weight: bold;
        min-height: 10vh;
        margin: auto;
        width: 90%;
        padding: 25px;
        margin-left: 100px;
        margin-right: 30px;
    }
}


@media (minx-width: 472px) and (max-width: 766px){
    .size {
         position: -webkit-sticky;
        position: sticky;
        padding: relative;
        top: 0;
        z-index: 5;
        /* giving higher number to make sure it stays on top */

        background-color: var(--background-color);
        display: flex;
        gap: 20px;
    }
    #leftt{
        display:show;
        opacity: 0.9;
        font-weight: bold;
        min-height: 10vh;
        padding-left: 10px;
        position: fixed;
        margin-left: 53px;
    }
    #bg {
        opacity: 0.9;
        font-weight: bold;
        min-height: 10vh;
        margin: auto;
        width: 90%;
        padding: 25px;
        margin-left: 120px;
        margin-right: 43px;
    }
}
.change-color{
    color: var(--default-text-color);
}
.login{

    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    opacity: 0.9;
    font-weight: bold;
    color: inherit;
}

@media (min-width: 767px) {
    .size {
        position: -webkit-sticky;
        position: sticky;
        padding: relative;
        top: 0;
        z-index: 5;
        /* giving higher number to make sure it stays on top */

        background-color: var(--background-color);
    }

    #leftt {
        display: none;
    }

    #bg {
        opacity: 0.9;
        font-weight: bold;
        min-height: 10vh;
        margin: auto;
        width: 90%;
        padding: 25px;
    }
}

.change-color {
    color: var(--default-text-color);
}

.login {

    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    opacity: 0.9;
    font-weight: bold;
    color: inherit;
}

#sizes {
    position: -webkit-sticky;
    position: sticky;
    padding: relative;
    top: 0;
    z-index: 5;
    /* giving higher number to make sure it stays on top */

    background-color: var(--background-color);
    
}

#bgg {
    opacity: 0.9;
        font-weight: bold;
        min-height: 10vh;
        margin: auto;
        width: 90%;
        padding: 25px;
}

.change-color {
    color: var(--default-text-color);
}

.login {

    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    opacity: 0.9;
    font-weight: bold;
    color: inherit;
}