.color {

    color: white;
    font-size: 21px;
    font-weight: bold;
    
}
.margin{
    min-height: 10vh;
}

.nav-list{

    color: whitesmoke;
    text-decoration: none;
}

.nav-list:hover{

    color: aqua;
}


@media (max-width: 800px){
    
    .color {
        font-size: large;
    }
}