* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App{
  background-color: var(--background-color);
  color: var(--default-text-color); /* default text color for all the pages*/
  font-family: -apple-system,
    BlinkMacSystemFont,
    "Segoe UI Adjusted",
    "Segoe UI",
    "Liberation Sans",
    sans-serif;
}

.Logo{
  text-align: var(--text-center);
  padding: 30px;
  padding-bottom: 50px;
}

.Logo > a {
  color: var(--default-text-color);
}

.Logo>a:hover {
  color: var(--question-link-color);
}

.loading{
  margin: auto;
  border: 20px solid var(--Black-text-color);
  border-radius: 50%;
  border-top: 20px solid var(--question-link-color);
  width: 200px;
  height: 200px;
  animation: spinner 1.5s linear infinite;
}


@keyframes spinner {

  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Team styling */
.HeadingTitle {
  font-weight: bold;
  padding: 20px;
  text-align: center;
}


.NoUnderLine{
  text-decoration: none;
  color: var(--question-link-color);
}

.pyScriptFullPath{
  color: var(--question-link-color);
}
.CodeSampleBackground{
  background-color: var(--SampleCode-background);
  padding: 20px;
}
.testcolor{
  color: var(--question-link-color);
}
.pl-kos{
  color: var(--default-text-color);
}
.pl-ent{
  color: rgb(135, 216, 243);
}
.pl-c1{
  color: rgb(118, 247, 128);
}
.pl-s{
  color: var(--question-link-color);
}
.copy{
  float: right;
}