* {
  box-sizing: border-box;
}

.background {
  background-color: var(--background-color);
  color: var(--default-text-color); /* default text color for all the pages*/
  opacity: 0.9;
}

.Logo{
  text-align: var(--text-center);
  padding: 30px;
  padding-bottom: 50px;
}

.Logo > a {
  color: var(--default-text-color);
}

.Logo>a:hover {
  color: var(--question-link-color);
}

.loading{
  margin: auto;
  border: 20px solid var(--Black-text-color);
  border-radius: 50%;
  border-top: 20px solid var(--question-link-color);
  width: 200px;
  height: 200px;
  animation: spinner 1.5s linear infinite;
}


@keyframes spinner {

  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Team styling */
.HeadingTitle {
  font-size: 60px;
  padding: 20px;
  text-align: center;
}


.NoUnderLine{
  text-decoration: none;
  color: var(--question-link-color);
}

.pyScriptFullPath{
  color: var(--question-link-color);
}
.CodeSampleBackground{
  background-color: var(--SampleCode-background);
  height: 70px;
}