* {
  box-sizing: border-box;
}

.background {
  background-image: url("./Background/HomeBackground.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: whitesmoke;
  opacity: 0.9;
  animation: gradient 120s linear infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}
.Logo{
  text-align: center;
  padding: 30px;
  padding-bottom: 50px;
}

.Logo > a{
  color: whitesmoke;
}

.Logo>a:hover {
  color: rgb(197, 188, 55);
}

.wait{
  margin: auto;
  border: 20px solid #EAF0F6;
  border-radius: 50%;
  border-top: 20px solid #e9c112;
  width: 200px;
  height: 200px;
  animation: spinner 1.5s linear infinite;
}


@keyframes spinner {

  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}