:root{

    /* Colors */
    --background-color: rgb(53, 52, 52);


    /* Text Colors */
    --default-text-color: rgb(255, 255, 255);
    --Black-text-color: black;
    --question-link-color: rgb(197, 188, 55);
    --SampleCode-background: #000000;
    --Footer-Background-Color: #737373;

    /* Position */

    --text-center: center;
    --text-left: left;


    /* Fonts */




    /* Flexs */
}