:root{

    /* Colors */
    /* --background-color: rgb(53, 52, 52); */
    --background-color: #425664;

    /* Text Colors */
    --default-text-color: rgb(255, 255, 255);
    --Mini-info-bg-color: rgb(33, 186, 197);
    --Black-text-color: black;
    --question-link-color: rgb(197, 188, 55);
    --SampleCode-background: #000000;
    --Footer-Background-Color: #00539CFF !important;
    --Paragraph-Background-Color: #6A8A82 !important;
    --Everything-Background-Color: #061550b7 !important;
    --Bg-Benefit-Color: #04384b!important;
    --Learn-Background-Color: #3CA3A3 !important;
    --Mission-Background-Color: #132237!important;
    --Links--Color: rgb(138, 180, 248) !important;

    /* Position */

    --text-center: center;
    --text-left: left;


    /* Fonts */




    /* Flexs */
}