.container-large {
    background-color: rgb(42, 34, 63);
    height: auto;
    width: 100%;
    padding: 10px;
}
.flex-container {
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.flex-child {
    width: 307px;
    color: aliceblue;
    text-align: center;
    padding: 13px;
    margin: 10px;
    border: 5px solid wheat;
}

.flex-child:hover {
    background-color: blue;
    border: none;
}

.Static-container{
    background: #3085d6;
    /* height: 40%; */
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.image{
    width: 307px;
    padding: 10px;
    margin: 10px;
    border: 1px solid #0a0d0f;
}

.context{
    margin: auto;
    width: 50%;
    padding:  60px;
    font-size: 30px;
}

@media (max-width: 762px) {

    .container-large {
        background-color: rgb(42, 34, 63);
        height: 400px;
        padding: 10px;
    }
    .flex-container {
        margin-top: 15px;
        height: 100px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .flex-child {
        min-width: 100%;
        color: aliceblue;
        text-align: center;
        padding: 13px;
        margin: 10px;
        border: 5px solid wheat;
    }

    .flex-child:hover {
        background-color: blue;
        border: none;
    }

    .Static-container{
        margin: 2px auto 0 auto;
        border-radius: 10px;
        background: #3085d6;
        width: 100%;
        /* height: 40%; */
        display: flex;
        flex-direction: column;
    }

    .image{
        word-wrap: break-word;
        padding: 20px;
        margin-left: 8px;
        border: 5px solid #0a0d0f;
        width: 96%;
    }

    .contex{

        margin: auto;
        min-width: 100%;
        text-indent: 40px;
        padding:  60px;
        font-size: 20px;
    }

}

