.FooterBackgroundColor{
    background-color: var(--Footer-Background-Color);
}
.FooterWidth{
    height: auto;
    margin: auto;
    width: 90%;
    padding: 10px;
    text-align: left;

}
.FooterContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    padding: 25px;
    
    
}
.Footer_Column_Header{
    padding-bottom: 10px;
    color:var(--background-color-1);
    font-weight: bold;
}

.FooterLinkColors{
    text-decoration: none;
    color: var(--default-text-color)
    
}

.FooterLinkColors:hover,
.FooterLinkColors:active {
    text-decoration: underline;
    color: var(--Black-text-color);
}

.FooterContainer > div > li{
    list-style: none;
}
.Logo {
    text-align: center;
    padding: 30px;
    padding-bottom: 50px;
    
}
.logo-on{
    color: var(--default-text-color);
    padding: 1px;
}

.Logo>a {
    color: var(--default-text-color);
    text-decoration: none;
}

.Logo>a:hover {
    text-decoration: underline;
}