.FooterBackgroundColor{
    background-color: var(--Footer-Background-Color)
}
.FooterWidth{
    height: auto;
    margin: auto;
    width: 90%;
    padding: 10px;
    text-align: left;
}
.FooterContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    padding: 25px;
    
}
.Footer_Column_Header{
    padding-bottom: 10px;
}

.FooterLinkColors{
    text-decoration: none;
    color: var(--default-text-color)
}

.FooterLinkColors:hover,
.FooterLinkColors:active {
    text-decoration: underline;
    color: var(--question-link-color)
}

.FooterContainer > div > li{
    list-style: none;
}
.Logo {
    text-align: var(--text-center);
    padding: 30px;
    padding-bottom: 50px;
    
}

.Logo>a {
    color: var(--default-text-color);
    text-decoration: none;
}

.Logo>a:hover {
    text-decoration: underline;
}