.FooterBackgroundColor {
  background-color: var(--Footer-Background-Color);
}
.FooterWidth {
  margin: auto;
  width: 90%;
}
.FooterContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  padding: 25px;
}
.Footer_Column_Header {
  padding-bottom: 10px;
  padding-left: 32px;
  color: var(--background-color-1);
  font-weight: bold;
  font-size: 25px;
}

.FooterLinkColors {
  text-decoration: none;
  color: var(--default-text-color);
}

.FooterLinkColors:hover,
.FooterLinkColors:active {
  text-decoration: underline;
  color: var(--background-color-1);
}

.FooterContainer > div > ul > li {
  list-style: none;
  padding: 2px;
  text-align: left;
}
.Logo {
  text-align: center;
  padding: 30px;
  padding-bottom: 50px;
}
.logo-on {
  color: var(--default-text-color);
  padding: 1px;
}

.Logo > a {
  color: var(--default-text-color);
  text-decoration: none;
}

.Logo > a:hover {
  text-decoration: underline;
}

@media (max-width: 762px) {
  .Footer_Column_Header {
      padding-bottom: 10px;
      padding-left: 0px;
      color: var(--background-color-1);
      font-weight: bold;
      font-size: 25px;
    }
  .FooterContainer {
    flex-direction: column;
  }

  .FooterContainer > div > ul {
    display: flex;
    flex-wrap: wrap; 
    gap: 20px;
    padding: 2px;
  }

  .FooterContainer > div > ul > li {
    list-style: none;
    padding: 2px;
  }
}
